<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wangfeng.mybatis.dao.BlogMapper">
    <resultMap id="BaseResultMap" type="BlogDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status"  property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
    `id`, `name`,`status`
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `blog`
        where `id` = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from `blog`
    where `id` = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BlogDO">
    insert into `blog` (`id`, `name`,`status`)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{status})
  </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="BlogDO">
        insert into `blog`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="status != null">
                `status`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="BlogDO">
        update `blog`
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` =#{status},
            </if>
        </set>
        where `id` = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="BlogDO">
    update `blog`
    set `name` = #{name,jdbcType=VARCHAR}, `name` = #{name,jdbcType=VARCHAR},`status` = #{status},
    where `id` = #{id,jdbcType=BIGINT}
  </update>
</mapper>